No need to run this notebook. This was used to generate the data sets that are now located in the 'data' folder

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
pd.set_option('display.max_columns',30)

In [142]:
df_adv = pd.read_csv('data/advanced/2020_advanced.csv')
df_cas = pd.read_csv('data/catch_and_shoot/2020_catchshoot.csv')
df_driv = pd.read_csv('data/drives/2020_drives.csv')
df_per100 = pd.read_csv('data/per100/2020_per100.csv')
df_post = pd.read_csv('data/postups/2020_postups.csv')
df_shot = pd.read_csv('data/shot_location/2020_shooting.csv')
df_trad = pd.read_csv('data/traditional/2020_traditional.csv')

In [143]:
df_trad = df_trad.loc[df_trad['MIN'] > 20]

In [144]:
df = df_trad.merge(df_shot, how='inner', left_on='Player', right_on='Player')

In [145]:
df = df.merge(df_post, how='inner', left_on='Player', right_on='Player')

In [146]:
df = df.merge(df_driv, how='inner', left_on='Player', right_on='Player')

In [147]:
df = df.merge(df_cas, how='inner', left_on='Player', right_on='Player')

In [148]:
df = df.merge(df_per100, how='inner', left_on='Player', right_on='Player')

In [149]:
df = df.merge(df_adv, how='inner', left_on='Player', right_on='Player')

In [150]:
df.replace('-', '0', inplace=True)

In [151]:
temp = df.loc[:, df.columns != 'Player'].astype('float')

In [152]:
df = pd.concat([df['Player'], temp], axis=1)

In [153]:
df

,Player,GP,MIN,PTS,FGA,FG%,3PA,3P%,REB,AST,TO,STL,BLK,Close FGA,Close FG%,Mid FGA,Mid FG%,Post_Ups,Drives,CS_3PA,CS_3P%,PP100Pos,Minutes,AST %,REB %,USG %
0,Aaron Gordon,25.0,29.4,14.6,11.7,43.7,4.5,37.5,6.6,4.2,2.7,0.6,0.8,5.1,52.9,2.1,32.1,2.8,6.7,2.5,43.5,23.8,29.4,22.3,10.9,23.6
1,Al Horford,28.0,27.9,14.2,12.9,45.0,5.4,36.8,6.7,3.4,1.0,0.9,0.9,5.3,54.7,2.2,39.3,3.9,2.0,4.7,36.6,24.3,27.9,20.6,11.4,22.1
2,Al-Farouq Aminu,17.0,21.6,5.5,5.2,40.4,1.8,22.6,5.4,1.7,1.5,1.0,0.5,2.7,48.1,0.7,50.0,1.3,1.9,1.7,24.1,12.4,21.6,11.6,12.2,14.5
3,Alec Burks,32.0,25.7,12.6,10.3,41.6,4.7,40.4,4.3,2.2,1.1,0.8,0.3,3.7,43.2,1.8,40.7,0.0,5.4,3.0,38.5,24.0,25.7,13.3,8.2,20.8
4,Aleksej Pokusevski,25.0,21.8,5.6,7.1,29.2,3.9,23.7,4.8,1.7,1.6,0.4,1.0,1.9,36.8,1.4,35.3,0.0,2.6,3.2,26.6,11.8,21.8,10.8,9.9,16.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Wesley Matthews,37.0,20.1,4.5,4.1,35.9,3.3,34.7,1.4,1.0,0.5,0.5,0.4,0.6,50.0,0.3,20.0,0.3,1.2,2.8,34.3,10.7,20.1,6.5,3.5,10.1
238,Will Barton,41.0,30.7,12.7,11.0,43.5,4.7,37.7,4.1,3.1,1.7,0.9,0.4,5.2,50.0,1.2,41.7,0.0,6.1,2.9,39.2,20.1,30.7,13.2,6.8,19.0
239,Yogi Ferrell,2.0,20.3,9.5,10.5,38.1,4.5,33.3,3.5,2.5,1.5,1.5,0.5,5.0,40.0,1.0,50.0,0.0,7.5,2.0,50.0,22.6,20.3,21.7,8.1,24.7
240,Zach LaVine,43.0,35.3,28.1,19.3,52.0,8.1,43.7,5.0,4.9,3.8,0.9,0.5,8.4,63.1,2.8,44.6,0.4,12.8,2.7,49.1,37.4,35.3,22.5,7.2,30.1
241,Zion Williamson,41.0,32.7,25.7,15.9,62.1,0.5,35.0,7.0,3.4,2.5,0.9,0.7,15.2,63.2,0.2,25.0,5.1,11.2,0.4,40.0,37.0,32.7,17.1,10.8,27.6

In [154]:
df = df.drop('Minutes', axis=1)

In [155]:
#df.to_csv('data/data_without_heights/2020_df', index=False)

In [155]:
df_final = pd.read_csv('data/data_without_heights/2020_df')
df_heights = pd.read_csv('data/heights/2020_heights.csv')

In [156]:
df_heights['Height'] = [df_heights['Height'][i].split('-') for i in range(len(df_heights))]

In [157]:
df_heights['Height'] = [(int(df_heights['Height'][i][0]) * 12) + 
                        int(df_heights['Height'][i][1]) for i in range(len(df_heights))]

In [158]:
df_heights

              Player  Height
0       Aaron Gordon      80
1      Aaron Holiday      72
2      Aaron Nesmith      77
3        Abdel Nader      77
4        Adam Mokoka      76
..               ...     ...
500     Yogi Ferrell      72
501    Yuta Watanabe      81
502      Zach LaVine      77
503       Zeke Nnaji      81
504  Zion Williamson      79

[505 rows x 2 columns]

In [159]:
df_final = df_final.merge(df_heights, how='inner', left_on='Player', right_on='Player')

In [160]:
df_final

,Player,GP,MIN,PTS,FGA,FG%,3PA,3P%,REB,AST,TO,STL,BLK,Close FGA,Close FG%,Mid FGA,Mid FG%,Post_Ups,Drives,CS_3PA,CS_3P%,PP100Pos,AST %,REB %,USG %,Height
0,Aaron Gordon,25.0,29.4,14.6,11.7,43.7,4.5,37.5,6.6,4.2,2.7,0.6,0.8,5.1,52.9,2.1,32.1,2.8,6.7,2.5,43.5,23.8,22.3,10.9,23.6,80
1,Al Horford,28.0,27.9,14.2,12.9,45.0,5.4,36.8,6.7,3.4,1.0,0.9,0.9,5.3,54.7,2.2,39.3,3.9,2.0,4.7,36.6,24.3,20.6,11.4,22.1,81
2,Al-Farouq Aminu,17.0,21.6,5.5,5.2,40.4,1.8,22.6,5.4,1.7,1.5,1.0,0.5,2.7,48.1,0.7,50.0,1.3,1.9,1.7,24.1,12.4,11.6,12.2,14.5,80
3,Alec Burks,32.0,25.7,12.6,10.3,41.6,4.7,40.4,4.3,2.2,1.1,0.8,0.3,3.7,43.2,1.8,40.7,0.0,5.4,3.0,38.5,24.0,13.3,8.2,20.8,78
4,Aleksej Pokusevski,25.0,21.8,5.6,7.1,29.2,3.9,23.7,4.8,1.7,1.6,0.4,1.0,1.9,36.8,1.4,35.3,0.0,2.6,3.2,26.6,11.8,10.8,9.9,16.8,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Wesley Matthews,37.0,20.1,4.5,4.1,35.9,3.3,34.7,1.4,1.0,0.5,0.5,0.4,0.6,50.0,0.3,20.0,0.3,1.2,2.8,34.3,10.7,6.5,3.5,10.1,76
238,Will Barton,41.0,30.7,12.7,11.0,43.5,4.7,37.7,4.1,3.1,1.7,0.9,0.4,5.2,50.0,1.2,41.7,0.0,6.1,2.9,39.2,20.1,13.2,6.8,19.0,78
239,Yogi Ferrell,2.0,20.3,9.5,10.5,38.1,4.5,33.3,3.5,2.5,1.5,1.5,0.5,5.0,40.0,1.0,50.0,0.0,7.5,2.0,50.0,22.6,21.7,8.1,24.7,72
240,Zach LaVine,43.0,35.3,28.1,19.3,52.0,8.1,43.7,5.0,4.9,3.8,0.9,0.5,8.4,63.1,2.8,44.6,0.4,12.8,2.7,49.1,37.4,22.5,7.2,30.1,77
241,Zion Williamson,41.0,32.7,25.7,15.9,62.1,0.5,35.0,7.0,3.4,2.5,0.9,0.7,15.2,63.2,0.2,25.0,5.1,11.2,0.4,40.0,37.0,17.1,10.8,27.6,79

In [161]:
#df_final.to_csv('data/finalized_data/2020_df', index=False)

In [162]:
pd.read_csv('data/finalized_data/2020_df')

,Player,GP,MIN,PTS,FGA,FG%,3PA,3P%,REB,AST,TO,STL,BLK,Close FGA,Close FG%,Mid FGA,Mid FG%,Post_Ups,Drives,CS_3PA,CS_3P%,PP100Pos,AST %,REB %,USG %,Height
0,Aaron Gordon,25.0,29.4,14.6,11.7,43.7,4.5,37.5,6.6,4.2,2.7,0.6,0.8,5.1,52.9,2.1,32.1,2.8,6.7,2.5,43.5,23.8,22.3,10.9,23.6,80
1,Al Horford,28.0,27.9,14.2,12.9,45.0,5.4,36.8,6.7,3.4,1.0,0.9,0.9,5.3,54.7,2.2,39.3,3.9,2.0,4.7,36.6,24.3,20.6,11.4,22.1,81
2,Al-Farouq Aminu,17.0,21.6,5.5,5.2,40.4,1.8,22.6,5.4,1.7,1.5,1.0,0.5,2.7,48.1,0.7,50.0,1.3,1.9,1.7,24.1,12.4,11.6,12.2,14.5,80
3,Alec Burks,32.0,25.7,12.6,10.3,41.6,4.7,40.4,4.3,2.2,1.1,0.8,0.3,3.7,43.2,1.8,40.7,0.0,5.4,3.0,38.5,24.0,13.3,8.2,20.8,78
4,Aleksej Pokusevski,25.0,21.8,5.6,7.1,29.2,3.9,23.7,4.8,1.7,1.6,0.4,1.0,1.9,36.8,1.4,35.3,0.0,2.6,3.2,26.6,11.8,10.8,9.9,16.8,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Wesley Matthews,37.0,20.1,4.5,4.1,35.9,3.3,34.7,1.4,1.0,0.5,0.5,0.4,0.6,50.0,0.3,20.0,0.3,1.2,2.8,34.3,10.7,6.5,3.5,10.1,76
238,Will Barton,41.0,30.7,12.7,11.0,43.5,4.7,37.7,4.1,3.1,1.7,0.9,0.4,5.2,50.0,1.2,41.7,0.0,6.1,2.9,39.2,20.1,13.2,6.8,19.0,78
239,Yogi Ferrell,2.0,20.3,9.5,10.5,38.1,4.5,33.3,3.5,2.5,1.5,1.5,0.5,5.0,40.0,1.0,50.0,0.0,7.5,2.0,50.0,22.6,21.7,8.1,24.7,72
240,Zach LaVine,43.0,35.3,28.1,19.3,52.0,8.1,43.7,5.0,4.9,3.8,0.9,0.5,8.4,63.1,2.8,44.6,0.4,12.8,2.7,49.1,37.4,22.5,7.2,30.1,77
241,Zion Williamson,41.0,32.7,25.7,15.9,62.1,0.5,35.0,7.0,3.4,2.5,0.9,0.7,15.2,63.2,0.2,25.0,5.1,11.2,0.4,40.0,37.0,17.1,10.8,27.6,79

In [61]:
# add year label to player name of each DataFrame
# combine year-by-year data into singular DataFrame

df_2015 = pd.read_csv('data/finalized_data/2015_df')
df_2016 = pd.read_csv('data/finalized_data/2016_df')
df_2017 = pd.read_csv('data/finalized_data/2017_df')
df_2018 = pd.read_csv('data/finalized_data/2018_df')
df_2019 = pd.read_csv('data/finalized_data/2019_df')
df_2020 = pd.read_csv('data/finalized_data/2020_df')

In [62]:
df_2015['Player'] = df_2015['Player'] + ': 2015'
df_2016['Player'] = df_2016['Player'] + ': 2016'
df_2017['Player'] = df_2017['Player'] + ': 2017'
df_2018['Player'] = df_2018['Player'] + ': 2018'
df_2019['Player'] = df_2019['Player'] + ': 2019'
df_2020['Player'] = df_2020['Player'] + ': 2020'

In [63]:
df_2020.head()

,Player,GP,MIN,PTS,FGA,FG%,3PA,3P%,REB,AST,TO,STL,BLK,Close FGA,Close FG%,Mid FGA,Mid FG%,Post_Ups,Drives,CS_3PA,CS_3P%,PP100Pos,AST %,REB %,USG %,Height
0,Aaron Gordon: 2020,25.0,29.4,14.6,11.7,43.7,4.5,37.5,6.6,4.2,2.7,0.6,0.8,5.1,52.9,2.1,32.1,2.8,6.7,2.5,43.5,23.8,22.3,10.9,23.6,80
1,Al Horford: 2020,28.0,27.9,14.2,12.9,45.0,5.4,36.8,6.7,3.4,1.0,0.9,0.9,5.3,54.7,2.2,39.3,3.9,2.0,4.7,36.6,24.3,20.6,11.4,22.1,81
2,Al-Farouq Aminu: 2020,17.0,21.6,5.5,5.2,40.4,1.8,22.6,5.4,1.7,1.5,1.0,0.5,2.7,48.1,0.7,50.0,1.3,1.9,1.7,24.1,12.4,11.6,12.2,14.5,80
3,Alec Burks: 2020,32.0,25.7,12.6,10.3,41.6,4.7,40.4,4.3,2.2,1.1,0.8,0.3,3.7,43.2,1.8,40.7,0.0,5.4,3.0,38.5,24.0,13.3,8.2,20.8,78
4,Aleksej Pokusevski: 2020,25.0,21.8,5.6,7.1,29.2,3.9,23.7,4.8,1.7,1.6,0.4,1.0,1.9,36.8,1.4,35.3,0.0,2.6,3.2,26.6,11.8,10.8,9.9,16.8,84

In [68]:
# before we concat everything, drop players who have played less than 20% of a team's games
# 16 games for 2015-2018 (82 games), 14 games for 2019 (league average 71 games), 8 games for 2020 (LA 42 games)
df_2015.drop(df_2015[df_2015['GP'] < 16].index, inplace=True)
df_2016.drop(df_2016[df_2016['GP'] < 16].index, inplace=True)
df_2017.drop(df_2017[df_2017['GP'] < 16].index, inplace=True)
df_2018.drop(df_2018[df_2018['GP'] < 16].index, inplace=True)
df_2019.drop(df_2019[df_2019['GP'] < 14].index, inplace=True)
df_2020.drop(df_2020[df_2020['GP'] < 8].index, inplace=True)

In [76]:
all_df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019, df_2020])

In [77]:
all_df.shape

(1407, 26)

In [15]:
#all_df.to_csv('data/finalized_data/all_df', index=False)

In [3]:
# load in positional data 
df_pos_15 = pd.read_csv('data/positions/2015_positions.csv')
df_pos_16 = pd.read_csv('data/positions/2016_positions.csv')
df_pos_17 = pd.read_csv('data/positions/2017_positions.csv')
df_pos_18 = pd.read_csv('data/positions/2018_positions.csv')
df_pos_19 = pd.read_csv('data/positions/2019_positions.csv')
df_pos_20 = pd.read_csv('data/positions/2020_positions.csv')

df_pos_15.head()

                    Player Pos
0       Quincy Acy\acyqu01  PF
1   Jordan Adams\adamsjo01  SG
2   Steven Adams\adamsst01   C
3  Arron Afflalo\afflaar01  SG
4  Alexis Ajinça\ajincal01   C

In [4]:
# strip unneccesary characters after player name

df_pos_15['Player'] = [name.split('\\', 1)[0] for name in df_pos_15['Player']]
df_pos_15

             Player Pos
0        Quincy Acy  PF
1      Jordan Adams  SG
2      Steven Adams   C
3     Arron Afflalo  SG
4     Alexis Ajinça   C
..              ...  ..
471       Joe Young  PG
472      Nick Young  SG
473  Thaddeus Young  PF
474     Cody Zeller   C
475    Tyler Zeller   C

[476 rows x 2 columns]

In [5]:
# repeat for all others 

df_pos_16['Player'] = [name.split('\\', 1)[0] for name in df_pos_16['Player']]
df_pos_17['Player'] = [name.split('\\', 1)[0] for name in df_pos_17['Player']]
df_pos_18['Player'] = [name.split('\\', 1)[0] for name in df_pos_18['Player']]
df_pos_19['Player'] = [name.split('\\', 1)[0] for name in df_pos_19['Player']]
df_pos_20['Player'] = [name.split('\\', 1)[0] for name in df_pos_20['Player']]

In [6]:
# add year to all names in each corresponding dataset

df_pos_15['Player'] = df_pos_15['Player'] + ': 2015'
df_pos_16['Player'] = df_pos_16['Player'] + ': 2016'
df_pos_17['Player'] = df_pos_17['Player'] + ': 2017'
df_pos_18['Player'] = df_pos_18['Player'] + ': 2018'
df_pos_19['Player'] = df_pos_19['Player'] + ': 2019'
df_pos_20['Player'] = df_pos_20['Player'] + ': 2020'

In [10]:
if df_pos_15['Player'].iloc[4] == 'Alexis Ajinca':
    print('true')
print('false')

false

In [13]:
pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.2.0-py2.py3-none-any.whl (241 kB)
     |████████████████████████████████| 241 kB 4.7 MB/s eta 0:00:01
Installing collected packages: unidecode
Successfully installed unidecode-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [16]:
from unidecode import unidecode

unidecode(df_pos_15['Player'].iloc[4])

'Alexis Ajinca: 2015'

In [40]:
df_pos = pd.concat([df_pos_15, df_pos_16, df_pos_17, df_pos_18, df_pos_19, df_pos_20])

In [41]:
# remove all accents

df_pos['Player'] = df_pos['Player'].apply(unidecode)
df_pos

                   Player Pos
0        Quincy Acy: 2015  PF
1      Jordan Adams: 2015  SG
2      Steven Adams: 2015   C
3     Arron Afflalo: 2015  SG
4     Alexis Ajinca: 2015   C
..                    ...  ..
501    Delon Wright: 2020  SG
502  Thaddeus Young: 2020  PF
503      Trae Young: 2020  PG
504     Cody Zeller: 2020   C
505     Ivica Zubac: 2020   C

[3067 rows x 2 columns]

In [93]:
df_pos = df_pos.reset_index().drop('index', axis=1)
all_df = all_df.reset_index().drop('index', axis=1)

In [96]:
# remove any periods from acronym names (eg. J.J., C.J., etc.)

df_pos['Player'] = [df_pos['Player'][i].replace('.', '') for i in range(len(df_pos))]
all_df['Player'] = [all_df['Player'][i].replace('.', '') for i in range(len(all_df))]

In [97]:
all_df = all_df.merge(df_pos, how='inner', right_on='Player', left_on='Player')

In [98]:
# still need to clean dual position players (in this case, use their primary position ie. the first one)

all_df['Pos'].value_counts()

SG       340
PG       301
PF       267
SF       234
C        230
PF-SF      3
SF-SG      3
PG-SG      2
SG-PG      1
SF-PF      1
PF-C       1
Name: Pos, dtype: int64

In [99]:
all_df['Pos'] = [position.split('-', 1)[0] for position in all_df['Pos']]

In [100]:
all_df['Pos'].value_counts()

SG    341
PG    303
PF    271
SF    238
C     230
Name: Pos, dtype: int64

In [101]:
#all_df.to_csv('data/finalized_data/all_wpos_df', index=False)

In [2]:
# load in labeled data

labeled_df = pd.read_csv('data/premade_labels.csv')
labeled_df.head()

                  Player  Class
0     Aaron Gordon: 2015    7.0
1       Al Horford: 2015    3.0
2     Al Jefferson: 2015    2.0
3  Al-Farouq Aminu: 2015    NaN
4       Alec Burks: 2015    NaN

In [5]:
# change class to integer
# need to get only the labels
labeled_df.dropna(inplace=True)
labeled_df['Class'] = labeled_df['Class'].astype(int)
labeled_df.head()

                 Player  Class
0    Aaron Gordon: 2015      7
1      Al Horford: 2015      3
2    Al Jefferson: 2015      2
6    Allen Crabbe: 2015      1
9  Andre Drummond: 2015      2

In [7]:
# 277 labeled players which is 20% of the original dataset
labeled_df.shape

(277, 2)

In [9]:
#labeled_df.to_csv('data/finalized_data/prelabeled', index=False)

In [17]:
# we want to separate the prelabeled data from the original dataset

df1 = pd.read_csv('data/finalized_data/all_wpos_df')
df2 = pd.read_csv('data/finalized_data/prelabeled')

temp_df = df1.merge(df2, how='outer', left_on='Player', right_on='Player')

In [20]:
# create prelabeled set and unlabeled set

training_df = temp_df.dropna()
unlabeled_df = temp_df[temp_df['Class'].isnull()]

In [23]:
#training_df.to_csv('data/finalized_data/training', index=False)
#unlabeled_df.to_csv('data/finalized_data/unlabeled', index=False)